{% extends "layout.html" %}

{% block title %} Aerochess -  Iniciar sesión {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <main class="bg-img h-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">

                    <form class="form" method="post">

                        <!-- Esto proporciona protección contra Cross Site Request Forgeries -->
                        {% csrf_token %}

                        <h1 class="text-center">Iniciar sesión en AeroChess</h1>
                        <hr>

                        <!-- Introducir usuario -->
                        <div class="form-group">
                            <label for="username">Usuario:</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Usuario..." required autofocus>
                        </div>

                        <!-- Introducir contraseña -->
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña..." required>
                            {% if form.errors %}
                                <div class="invalid-form">
                                    <p>El usuario y la contraseña no coinciden. Vuelve a intentarlo.</p>
                                </div>
                            {% endif %}
                        </div>

                        <!-- Enviar -->
                        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>

                        <hr>
                        <h6 class="font-weight-normal">¿No tienes una cuenta? &rarr; <a href="{% url 'signup' %}">Crear cuenta</a></h6>

                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}