{% extends "layout.html" %}

{% block title %} Aerochess - Contraseña cambiada {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10 col-md-8 col-lg-6">

                    <!-- Mensaje de éxio al cambiar la contraseña -->
                    <div class="custom-form">

                        <h1 class="text-center">Contraseña cambiada</h1>
                        <hr>

                        <div class="form-group">
                            <p>Su contraseña ha sido cambiada con éxito.</p>
                            
                        </div>

                        <hr>

                        <!-- Volver al inicio -->
                        <button class="btn btn-primary w-100" id="return" title="Volver a la página principal">Volver a la página principal</button>

                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}

    <script>

        // Volver al lobby
        $('#return').on('click', function() {
            var path = window.location.protocol + "//" + window.location.host + "/"
            window.location.href = path
        })

    </script>

{% endblock %}