{% extends "layout.html" %}

{% block title %} Aerochess - Cambiar contraseña {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10 col-md-8 col-lg-6">

                    <!-- Form para cambiar la contraseña -->
                    <form class="custom-form" method="post">

                        <!-- Esto proporciona protección contra Cross Site Request Forgeries -->
                        {% csrf_token %}

                        <h1 class="text-center">Cambiar contraseña de Aerochess</h1>
                        <hr>

                        <!-- Introducir antigua contraseña -->
                        <div class="form-group">
                            <label for="old_password">Antigua contraseña:</label>
                            <input class="form-control custom-form-control" id="old_password" type="password" name="old_password" placeholder="Antigua contraseña..." required autofocus>
                            {% if form.old_password.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.old_password.errors %}
                                    <div>{{ error|escape }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Introducir nueva contraseña -->
                        <div class="form-group">
                            <label for="new_password1">Nueva contraseña:</label>
                            <input class="form-control custom-form-control" id="new_password1" type="password" name="new_password1" placeholder="Nueva contraseña..." required>
                            {% if form.new_password1.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.new_password1.errors %}
                                    <div>{{ error|escape }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Confirmar nueva contraseña -->
                        <div class="form-group">
                            <label for="new_password2">Confirma tu nueva contraseña:</label>
                            <input class="form-control custom-form-control" id="new_password2" type="password" name="new_password2" placeholder="Confirmar nueva contraseña..." required>
                            {% if form.new_password2.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.new_password2.errors %}
                                    <div>{{ error|escape }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <hr>

                        <!-- Enviar -->
                        <button type="submit" class="btn btn-primary w-100">Cambiar contraseña</button>

                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}