{% extends "layout.html" %}

{% block title %} Aerochess -  Registrarse {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">

                    <!-- Signup form -->
                    <form class="custom-form" method="post">

                        <!-- Esto proporciona protección contra Cross Site Request Forgeries -->
                        {% csrf_token %}

                        <h1 class="text-center">Crear cuenta en AeroChess</h1>
                        <hr>

                        <!-- Introducir usuario -->
                        <div class="form-group">
                            <label for="username">Nombre de usuario:</label>
                            <input class="form-control custom-form-control" id="username" type="text" name="username" placeholder="Nombre de usuario..." required autofocus>
                            {% if form.username.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.username.errors %}
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Introducir correo electrónico (opcional) -->
                        <div class="form-group">
                            <label for="email">Correo electrónico (opcional):</label>
                            <input class="form-control custom-form-control" id="email" type="email" name="email" placeholder="Correo electrónico (opcional)...">
                            {% if form.email.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.email.errors %}
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Introducir contraseña -->
                        <div class="form-group">
                            <label for="password1">Contraseña:</label>
                            <input class="form-control custom-form-control" id="password1" type="password" name="password1" placeholder="Contraseña..." required>
                            {% if form.password1.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.password1.errors %}
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Confirmar contraseña -->
                        <div class="form-group">
                            <label for="password2">Confirma tu contraseña:</label>
                            <input class="form-control custom-form-control" id="password2" type="password" name="password2" placeholder="Confirma tu contraseña..." required>
                            {% if form.password2.errors %}
                                <div class="custom-invalid-form">
                                {% for error in form.password2.errors %}
                                    <div>{{ error|escape }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Enviar -->
                        <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>

                        <hr>
                        <h6 class="font-weight-normal">¿Ya tienes una cuenta? &rarr; <a href="{% url 'login' %}">Iniciar sesión</a></h6>

                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}