{% extends "layout.html" %}

{% block  title %} Aerochess - Partida contra el ordenador {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- CSS de Chessboard para el tablero  -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para permitire la personalización del tablero -->
    <script src="{% static 'js/customization.js' %}" async></script>

    <!-- Script propio para el funcionamiento de la página -->
    <script src="{% static 'js/computer.js' %}" async></script>

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img pt-6 vh-100">
        <div class="container">

            <!-- Interfaz de juego -->
            <div class="game-ui">

                <!-- Partida -->
                <div class="game-wrapper">

                    <!-- Oponente -->
                    <h4 class="text-center">Stockfish 13</h4>
                    <hr class="mt-1 mb-2">

                    <!-- Tablero -->
                    <div class="game-board-wrapper">
                        <div class="game-bar">
                            <div class="white-progress progress-bar-animated" id="white-progress"></div>
                        </div>
                        <div class="game-board-computer" id="computerBoard"></div>
                    </div>

                    <!-- Usuario -->
                    <hr class="mt-2 mb-1">
                    {% if user.is_authenticated %}
                        <h4 class="text-center">{{ user.username }}</h4>
                    {% else %}
                        <h4 class="text-center">Anónimo</h4>
                    {% endif %}
                
                </div>
    
                <!-- Información de la partida -->
                <div class="game-info">
                    
                    <!-- Cabecera -->
                    <div class="game-info-header">Partida contra el ordenador</div>

                    <!-- Status -->
                    <div class="game-info-status" id="status"></div>

                    <!-- PGN -->
                    <div class="game-info-pgn" id="pgn"></div>

                    <!-- Botones -->
                    <div class="game-info-options">
                        <div class="align-self-end w-100">

                            <!-- Opciones de Stockfish -->
                            <label><h6>Opciones de Stockfish:</h6></label>
                            <div class="input-group">

                                <!-- Nivel de dificultad -->
                                <select class="form-control game-form-control mr-2" id="level" title="Nivel de Stockfish">
                                    <option class="select-title text-center" disabled>Nivel de Stockfish</option>
                                    <option value="0">Nivel 0</option>
                                    <option value="2">Nivel 1</option>
                                    <option value="4">Nivel 2</option>
                                    <option value="6">Nivel 3</option>
                                    <option value="8">Nivel 4</option>
                                    <option value="10" selected>Nivel 5</option>
                                    <option value="12">Nivel 6</option>
                                    <option value="14">Nivel 7</option>
                                    <option value="16">Nivel 8</option>
                                    <option value="18">Nivel 9</option>
                                    <option value="20">Nivel 10</option>
                                </select>

                                <!-- Tiempo para calcular -->
                                <select class="form-control game-form-control ml-2" id="move_time" title="Tiempo de respuesta">
                                    <option value="100" selected>Instantáneo</option>
                                    <option value="1000">1 sec</option>
                                    <option value="2000">2 sec</option>
                                    <option value="3000">3 sec</option>
                                    <option value="4000">4 sec</option>
                                    <option value="5000">5 sec</option>
                                    <option value="6000">6 sec</option>
                                    <option value="7000">7 sec</option>
                                    <option value="8000">8 sec</option>
                                    <option value="9000">9 sec</option>
                                    <option value="10000">10 sec</option>
                                    <option value="1000000">Stop</option>
                                </select>
                                
                            </div>

                            <!-- FEN -->
                            <div class="input-group mt-3">
                                <input class="form-control game-form-control" id="fen" type="text">
                                <div class="input-group-append">
                                    <button class="btn game-btn" id="set_fen">FEN</button>
                                </div>
                            </div>

                            <!-- Controles -->
                            <div class="btn-group mt-3">
                                <button id="new_game" class="btn game-btn">Nueva partida</button>
                                <button id="make_move" class="btn game-btn">Realizar movimiento</button>
                                <button id="take_back" class="btn game-btn">Retroceder movimiento</button>
                                <button id="flip_board" class="btn game-btn">Rotar tablero</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>

{% endblock %}