<!-- Navegación -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            
    <!-- Navegación - Envoltorio para la barra de navegación -->
    <div class="container">

        <!-- Navegación - Página principal -->
        <a class="navbar-brand d-flex" href="/">
            <div class="navbar-brand-icon align-top mr-md-2">
                <span class="fas fa-chess"></span>
            </div>
            <div class="navbar-brand-text">AeroChess</div> 
        </a>
        
        <!-- Navegación - Botón para el modo colapsado -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" 
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navegación - Envoltorio para que funcionen las opciones de navegación en modo colapsado -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Navegación - Páginas -->
            <ul class="navbar-nav mr-auto mb-md-0">

                <!-- Navegación - Menú Jugar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-chess-pawn"></span>
                        <span>Jugar</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">Crear partida</a></li>
                        <li><a class="dropdown-item" href="/">Contra un amigo</a></li>
                        <li><a class="dropdown-item" href="/play/computer">Contra el ordenador</a></li>
                    </ul>
                </li>

                <!-- Navegación - Menú Puzzles -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-puzzle-piece"></span>
                        <span>Puzzles</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">Aleatorio</a></li>
                        <li><a class="dropdown-item" href="/">Elegir puzzle</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Navegación - Menú Opciones -->
            <!-- <ul class="navbar-nav ml-auto mb-md-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Algo</a></li>
                        <li><a class="dropdown-item" href="#">Algo</a></li>
                        <li><a class="dropdown-item" href="#">Algo</a></li>
                    </ul>
                </li>

            </ul> -->

            <!-- Navegación - Cuenta -->
            <ul class="navbar-nav ml-auto mb-md-0">
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Hola {{ user.username }}!</span>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fas fa-user"></span>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                    </ul>
                </li>

                {% else %}
                <li class="nav-item">
                    <span class="navbar-text">No has iniciado sesión</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'login' %}">Iniciar sesión</a>
                </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>