/* 
    CSS PARA LOS ESTILOS PERSONALIZADOS
*/



/* ----------- Animación de los dropdowns ----------- */

.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* -------------------------------------------------- */



/* ------------- Animación de parpadeo -------------- */

.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

/* -------------------------------------------------- */



/* --- Destaca los últimos movimientos realizados --- */

.highlight {
    box-shadow: inset 0 0 3px 3px yellow;
}

/* -------------------------------------------------- */



/* ------------- Temas para el tablero -------------- */

.boardtheme1white {
    background-color: #f0d9b5;
    color: #b58863;
}
  
.boardtheme1black {
    background-color: #b58863;
    color: #f0d9b5;
}

.boardtheme2white {
    background-color:#b0b9b4;
    color:#6d8873;
}
  
.boardtheme2black {
    background-color:#6d8873;
    color:#b0b9b4;
}

.boardtheme3white {
    background-color:#89A4B9;
    color:#637E91;
}
  
.boardtheme3black {
    background-color:#637E91;
    color:#89A4B9;
}

.boardtheme4white {
    background-color:#CFCFC7;
    color:#C08D0F;
}
  
.boardtheme4black {
    background-color:#C08D0F;
    color:#CFCFC7;
}
.boardtheme5white {
    background-color:#FFFFDD;
    color:#86A666;
}
  
.boardtheme5black {
    background-color:#86A666;
    color:#FFFFDD;
}
/* -------------------------------------------------- */


.colocacion-inicial{                    /* CLASE PARA LA COLOCACIÓN INICIAL */
    margin-top: 6rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.botones-de-juego {                     /* CLASE PARA CAMBIAR EL TIPO DE BOTONES */
    display: flex;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 10px;
    text-align: center;
    width: auto;
    }
    .botones-de-juego:hover {
    background-color: #FB7E29;
    color: #fff;
    }

.grupo-botones{
    display: flex;
}


.color-box{
    border: 3px solid #fff;
    background-color: gray;
    padding: 40px;
    margin: 20px;
    width: 300px;
    height: 350px;
    margin-top: 10px;
    margin-right: 63%;
    margin-left: 37%;
    justify-content: center;
    text-align: center;
    color: white;
}

/* .color-selection { */
/*     text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333; */
/*     display:flex;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color:grey;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    } */


.selection-box{
    display:flex;
    padding: 20px 20px 20px 20px;
    margin: 0 0 25px;
    width: 250;
    height: 150;
}

.btn-dark{
    height: 100px;
    width: 100px;
}

.form-group{
    color:white;
}

.fa-chess-knight{
color: black;
width:20px;
height:20px;
}