/* 
    CSS PARA LOS ESTILOS PERSONALIZADOS
*/



/* --------------------- Index ---------------------- */

.index-header {
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.bg-img {
    background-color: rgb(0,0,0);
    background-image: url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.index-main2 {
    background-color: rgb(0,0,0);
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.8) 0%, rgba(50, 50, 50, 0.8) 100%), url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------------------------- */



/* --------------- Botones del index ---------------- */

.btn-index {
    width: calc(100% - 20px);
    height: calc(100vw * 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-index:hover {
    color: #ffffff;
    background-color:rgba(140, 140, 140, 0.9);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.btn-index:focus, .btn-game.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ----------- Botones de tipo de partida ----------- */

.btn-game {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-game:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-game:focus, .btn-game.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ---------- Botones para crear partida ------------ */

.btn-pieces {
    margin-right: 1rem;
    margin-left: 1rem;
    display: block;
    padding: 0;
    width: 100px;
    height: 100px;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-pieces:hover {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-pieces:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.black {
    background-image: url("../img/chesspieces/cburnett/bK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.random {
    background-image: url("../img/chesspieces/cburnett/bwK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white {
    background-image: url("../img/chesspieces/cburnett/wK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* -------------------------------------------------- */



/* --------------------- Forms ---------------------- */

.form {
    background-color: rgba(50, 50, 50, 0.9);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-width: 2px;
    border-style: ridge;
    border-radius: 0.25rem;
}

.invalid-form {
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

/* -------------------------------------------------- */



/* ----------- Animación de los dropdowns ----------- */

.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* -------------------------------------------------- */



/* ------------- Animación de parpadeo -------------- */

.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

/* -------------------------------------------------- */



/* --- Destaca los últimos movimientos realizados --- */

.highlight {
    box-shadow: inset 0 0 3px 3px yellow;
}

/* -------------------------------------------------- */



/* ------------- Temas para el tablero -------------- */

.boardtheme1white {
    background-color: #f0d9b5;
    color: #b58863;
}
  
.boardtheme1black {
    background-color: #b58863;
    color: #f0d9b5;
}

.boardtheme2white {
    background-color:#b0b9b4;
    color:#6d8873;
}
  
.boardtheme2black {
    background-color:#6d8873;
    color:#b0b9b4;
}

.boardtheme3white {
    background-color:#89A4B9;
    color:#637E91;
}
  
.boardtheme3black {
    background-color:#637E91;
    color:#89A4B9;
}

.boardtheme4white {
    background-color:#CFCFC7;
    color:#C08D0F;
}
  
.boardtheme4black {
    background-color:#C08D0F;
    color:#CFCFC7;
}
.boardtheme5white {
    background-color:#FFFFDD;
    color:#86A666;
}
  
.boardtheme5black {
    background-color:#86A666;
    color:#FFFFDD;
}
/* -------------------------------------------------- */


.colocacion-inicial{                    /* CLASE PARA LA COLOCACIÓN INICIAL */
    margin-top: 8rem;
    padding: 2rem;
}


.color-box{
    border: 3px solid #fff;
    background-color: gray;
    padding: 40px;
    margin: 20px;
    width: 300px;
    height: 350px;
    margin-top: 10px;
    margin-right: 63%;
    margin-left: 37%;
    justify-content: center;
    text-align: center;
    color: white;
}

/* .color-selection { */
/*     text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333; */
/*     display:flex;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color:grey;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    } */


.selection-box{
    display:flex;
    padding: 20px 20px 20px 20px;
    margin: 0 0 25px;
    width: 250;
    height: 150;
}

.btn-dark{
    height: 100px;
    width: 100px;
}

.form-group{
    color:white;
}

.fa-chess-knight{
color: black;
width:20px;
height:20px;
}