/* 
    CSS PARA LOS ESTILOS PERSONALIZADOS
*/

/* Modificado de Bootstrap */
hr {
    border-top: 1px solid white;
}

/* Modificado de Bootstrap */
.pt-6 {
    padding-top: 6rem;
}




/* -------------- Barra de navegación --------------- */

.custom-navbar {
    background-color: rgb(40, 40, 40) !important;
    border-bottom: 1px solid black;
}

/* -------------------------------------------------- */



/* ----------- Animación de los dropdowns ----------- */

.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* -------------------------------------------------- */



/* --------------------- Footer --------------------- */

.custom-footer-header {
    color: white;
    background-color: rgb(40, 40, 40) !important;
}

.custom-footer-body {
    color: white;
    background-color: rgb(30, 30, 30) !important;
}

.custom-text-footer {
    color: white;
}

/* -------------------------------------------------- */



/* ------------------- Background ------------------- */

.bg-img {
    background-color: rgb(0,0,0);
    background-image: url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

.bg-img2 {
    background-color: rgb(0,0,0);
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.8) 0%, rgba(50, 50, 50, 0.8) 100%), url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------------------------- */



/* --------------------- Index ---------------------- */

.index-header {
    padding-bottom: 5rem;
    color: white;
}

.btn-index {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-index:hover {
    color: #ffffff;
    background-color:rgba(140, 140, 140, 0.9);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.btn-index:focus, .btn-game.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ---------------------- About ----------------------*/

.custom-about {
    color: white;
}

/* -------------------------------------------------- */



/* --------------------- Forms ---------------------- */

.custom-form {
    color: white;
    background-color: rgba(50, 50, 50, 0.9);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-width: 2px;
    border-style: ridge;
    border-radius: 0.25rem;
}

/* Modificado de Bootstrap */
.invalid-form {
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

/* -------------------------------------------------- */



/* ----------- Botones de tipo de partida ----------- */

.btn-gametype {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.btn-gametype:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-gametype:focus, .btn-game.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ---------- Botones para crear partida ------------ */

.btn-pieces {
    margin-right: 1rem;
    margin-left: 1rem;
    display: block;
    padding: 0;
    width: 100px;
    height: 100px;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-pieces:hover {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-pieces:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.black {
    background-image: url("../img/chesspieces/cburnett/bK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.random {
    background-image: url("../img/chesspieces/cburnett/bwK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white {
    background-image: url("../img/chesspieces/cburnett/wK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* -------------------------------------------------- */



/* ---------------- Páginas de juego ---------------- */

.game-ui {
    max-height: 752px;
    max-width: 1140px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.game-board {
    height: 100%;
    width: 59%;
    margin-right: 2%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgba(50, 50, 50, 0.9);
    border-color: white;
    border-radius: 0.25rem;
    border-style: ridge;
    border-width: 2px;
}

/* .chessboard {
    height: 20vh;
    width: 20vw;
} */

.game-info {
    width: 39%;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    font-size: 100%;
    color: white;
    background-color: rgba(50, 50, 50, 0.9);
    border-width: 2px;
    border-style: ridge;
    border-radius: 0.25rem;
}

.game-info-header {
    padding: 1.25rem;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    border-bottom: 1px ridge white;
}

.game-info-status {
    padding: 1.25rem;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 100%;
    color: white;
    border-bottom: 1px ridge white;
}

.game-info-pgn {
    padding: 1.25rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow-y: auto;
    font-size: 100%;
    color: white;
}

.game-info-options {
    margin-top: auto;
    padding: 1.25rem;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 100%;
    color: white;
    border-top: 1px ridge white;
}

.btn-game {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.btn-game:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-game:focus, .btn-game.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .game-ui {
        max-height: max-content;
        max-width: 1140px;
        display: flex;
        flex-direction: column;
    }

    .game-board {
        height: 100%;
        width: 100%;
        margin-right: 0;
    }

    .game-info {
        width: 100%;
        margin-top: 2rem;
    }
}

/* -------------------------------------------------- */



/* --- Destaca los últimos movimientos realizados --- */

.highlight {
    box-shadow: inset 0 0 3px 3px yellow;
}

/* -------------------------------------------------- */



/* ------------- Temas para el tablero -------------- */

.boardtheme1white {
    background-color: #f0d9b5;
    color: #b58863;
}
  
.boardtheme1black {
    background-color: #b58863;
    color: #f0d9b5;
}

.boardtheme2white {
    background-color:#b0b9b4;
    color:#6d8873;
}
  
.boardtheme2black {
    background-color:#6d8873;
    color:#b0b9b4;
}

.boardtheme3white {
    background-color:#89A4B9;
    color:#637E91;
}
  
.boardtheme3black {
    background-color:#637E91;
    color:#89A4B9;
}

.boardtheme4white {
    background-color:#CFCFC7;
    color:#C08D0F;
}
  
.boardtheme4black {
    background-color:#C08D0F;
    color:#CFCFC7;
}
.boardtheme5white {
    background-color:#A7A7A7;
    color:#888888;
}
  
.boardtheme5black {
    background-color:#888888;
    color:#A7A7A7;
}
/* -------------------------------------------------- */













.colocacion-inicial{                    /* CLASE PARA LA COLOCACIÓN INICIAL */
    margin-top: 8rem;
    padding: 2rem;
}


.color-box{
    border: 3px solid #fff;
    background-color: gray;
    padding: 40px;
    margin: 20px;
    width: 300px;
    height: 350px;
    margin-top: 10px;
    margin-right: 63%;
    margin-left: 37%;
    justify-content: center;
    text-align: center;
    color: white;
}

/* .color-selection { */
/*     text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333; */
/*     display:flex;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color:grey;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    } */


.selection-box{
    display:flex;
    padding: 20px 20px 20px 20px;
    margin: 0 0 25px;
    width: 250;
    height: 150;
}

.btn-dark{
    height: 100px;
    width: 100px;
}

.form-group{
    color:white;
}

.fa-chess-knight{
color: black;
width:20px;
height:20px;
}

/* background: rgb(51, 29, 6); */
/* background: linear-gradient(0deg, rgb(22, 12, 12) 0%, rgba(115,64,13,1) 50%, rgba(22,12,12,1) 100%); 
    border-style: ridge;
    border-color: rgb(75, 75, 75);
    border-width: thick;
    padding-top: 1rem;
    padding-bottom: 0.8rem; */