/* 
    CSS PARA LOS ESTILOS PERSONALIZADOS
*/

/* Modificado de Bootstrap */
hr {
    border-top: 1px solid #ffffff;
}

/* ul {
    list-style: none;
} */

/* Modificado de Bootstrap */
.pt-6 {
    padding-top: 6rem;
}



/* ------------------- Background ------------------- */

.bg-img {
    background-color: rgb(0,0,0);
    background-image: url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

.bg-img2 {
    background-color: rgb(0,0,0);
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.8) 0%, rgba(50, 50, 50, 0.8) 100%), url("../img/indexbackground/chessKnight_copy.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

/* -------------------------------------------------- */



/* -------------- Barra de navegación --------------- */

.custom-navbar {
    background-color: rgb(40, 40, 40) !important;
    border-bottom: 1px solid black;
}

/* -------------------------------------------------- */



/* ----------- Animación de los dropdowns ----------- */

.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* -------------------------------------------------- */



/* --------------------- Modals --------------------- */

.custom-modal-content {
    color: #ffffff;
    background-color: rgba(40, 40, 40);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.custom-modal-header {
    color: #ffffff;
    background-color: rgb(30, 30, 30) !important;
}

.custom-modal-body {
    color: #ffffff;
}

/* -------------------------------------------------- */



/* --------------------- Footer --------------------- */

.custom-footer-header {
    color: #ffffff;
    background-color: rgb(40, 40, 40) !important;
}

.custom-footer-body {
    color: #ffffff;
    background-color: rgb(30, 30, 30) !important;
}

.custom-text-footer {
    color: #ffffff;
}

/* -------------------------------------------------- */



/* --------------------- Index ---------------------- */

.index-header {
    padding-bottom: 5rem;
    color: #ffffff;
}

.btn-index {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-width: 1px;
    border-style: solid;
}

.btn-index:hover {
    color: #ffffff;
    background-color:rgba(140, 140, 140, 0.9);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.btn-index:focus, .btn-index.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ---------------------- About ----------------------*/

.custom-about {
    color: #ffffff;
}

/* -------------------------------------------------- */



/* --------------------- Forms ---------------------- */

.custom-form {
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.9);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.custom-form-control {
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
}

.custom-form-control:focus {
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.custom-form-control::placeholder {
    color: #ffffff;
    opacity: 0.5;
}

.custom-invalid-form {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 100%;
    color: #dc3545;
}

/* -------------------------------------------------- */



/* ----------- Botones de tipo de partida ----------- */

.btn-gametype {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.btn-gametype:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-gametype:focus, .btn-gametype.focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* ---------- Botones para crear partida ------------ */

.btn-pieces {
    margin-right: 1rem;
    margin-left: 1rem;
    display: block;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.btn-pieces:hover {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.btn-pieces:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.black {
    background-image: url("../img/chesspieces/cburnett/bK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.random {
    background-image: url("../img/chesspieces/cburnett/bwK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.white {
    background-image: url("../img/chesspieces/cburnett/wK.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* -------------------------------------------------- */



/* ---------------- Lista de puzzles ---------------- */

.puzzle-list {
    color: #ffffff;
}

.puzzle-list-header {
    padding: 1.25rem;
    color: #ffffff;
    font-size: 150%;
    text-align: left;
    background-color: rgb(40, 40, 40);
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-bottom: 1px solid #ffffff;
}

.puzzle-list-body {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-align: left;
    background-color: rgba(70, 70, 70);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.puzzle-list-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid #ffffff;
}

.puzzle-list-item:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

/* -------------------------------------------------- */



/* --------------------- Perfil --------------------- */

.profile {
    color: #ffffff;
}

/* -------------------------------------------------- */



/* --------------- Lista de partidas ---------------- */

.lobby {
    color: #ffffff;
}

.game-list {
    margin: 0;
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.game-list-header {
    color: #ffffff;
    background-color: rgb(40, 40, 40);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.game-list-body {
    color: #ffffff;
    background-color: rgb(70, 70, 70);
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

/* -------------------------------------------------- */



/* ---------------- Páginas de juego ---------------- */

.game-ui {
    max-height: 752px;
    max-width: 1140px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.game-wrapper {
    height: 100%;
    width: 59%;
    margin-right: 2%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.9);
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: ridge;
    border-width: 2px;
}

.game-board-wrapper {
    height: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #ffffff;
}

.game-bar {
    width: 3%;
    min-width: 10px;
    align-self: stretch;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000000;
    border-color: #000000;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.white-progress {
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 0.25rem 0.25rem;
    transition: height 1s;
}

.game-board-computer {
    width: 96%;
}

.game-board {
    width: 100%;
}

.game-info {
    width: 39%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    color: #ffffff;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 0.25rem;
    border-style: ridge;
    border-width: 2px;
}

.game-info-header {
    padding: 1.25rem;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffff;
    border-bottom: 1px ridge #ffffff;
}

.game-info-status {
    padding: 1.25rem;
    height: max-content;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 100%;
    color: #ffffff;
    border-bottom: 1px ridge #ffffff;
}

.game-info-pgn {
    padding: 1.25rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow-y: auto;
    font-size: 100%;
    color: #ffffff;
}

.game-info-options {
    margin-top: auto;
    padding: 1.25rem;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 100%;
    color: #ffffff;
    border-top: 1px ridge #ffffff;
}

.game-form-control {
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.game-form-control:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.game-form-control:focus, .game-form-control.focus {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

.game-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.75);
    border-color: #ffffff;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
}

.game-btn:hover {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}
  
.game-btn:focus, .game-btn.focus {
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.3);
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .game-ui {
        max-height: max-content;
        max-width: 1140px;
        display: flex;
        flex-direction: column;
    }

    .game-wrapper {
        height: 100%;
        width: 100%;
        margin-right: 0;
    }

    .game-info {
        width: 100%;
        margin-top: 2rem;
    }
}

/* -------------------------------------------------- */



/* --- Destaca los últimos movimientos realizados --- */

.highlight {
    box-shadow: inset 0 0 3px 3px yellow;
}

/* -------------------------------------------------- */



/* ------------- Temas para el tablero -------------- */

.boardtheme1white {
    background-color: #f0d9b5;
    color: #b58863;
}
  
.boardtheme1black {
    background-color: #b58863;
    color: #f0d9b5;
}

.boardtheme2white {
    background-color:#b0b9b4;
    color:#6d8873;
}
  
.boardtheme2black {
    background-color:#6d8873;
    color:#b0b9b4;
}

.boardtheme3white {
    background-color:#89A4B9;
    color:#637E91;
}
  
.boardtheme3black {
    background-color:#637E91;
    color:#89A4B9;
}

.boardtheme4white {
    background-color:#CFCFC7;
    color:#C08D0F;
}
  
.boardtheme4black {
    background-color:#C08D0F;
    color:#CFCFC7;
}
.boardtheme5white {
    background-color:#A7A7A7;
    color:#888888;
}
  
.boardtheme5black {
    background-color:#888888;
    color:#A7A7A7;
}
/* -------------------------------------------------- */
