<!-- Pie de página -->
<footer class="custom-footer">

    <!-- Cabecera -->
    <div class="card-footer custom-footer-header">
        <div class="container">
            <div class="row">

                <div class="col">
                    <h4><strong>AeroChess</strong> - Ajedrez de excelencia internacional</h4>
                </div>

                <div class="col-auto d-flex flex-column justify-content-center">
                    <div class="text-right">
                        <a class="custom-text-footer" href="/" title="Página principal">Página principal</a> |
                        <a class="custom-text-footer" href="/about" title="Sobre el proyecto">Sobre el proyecto</a> |
                        <a class="custom-text-footer" href="" title="GitHub del proyecto">GitHub del proyecto</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Cuerpo -->
    <div class="card-footer custom-footer-body">
        <div class="container">

            <div class="text-center">
                <p>Creado por Paco, Quintín, Sergio y Valeriano como proyecto para la asignatura de Programación Gráfica en Python y JavaScript.</p>
                <p>Copyright 2021 <span class="far fa-copyright"></span> | Todos los derechos reservados | Versión  1.0.0</p>
            </div>

        </div>
    </div>

</footer>