<!-- Navegación -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark custom-navbar">
    <div class="container">

        <!-- Navegación - Página principal -->
        <a class="navbar-brand d-flex" href="/">
            <div class="navbar-brand-icon align-top mr-md-2">
                <span class="fas fa-chess"></span>
            </div>
            <div class="navbar-brand-text">AeroChess</div> 
        </a>
        
        <!-- Navegación - Botón para el modo colapsado -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navegación - Envoltorio para que funcionen las opciones de navegación en modo colapsado -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Navegación - Páginas -->
            <ul class="navbar-nav mr-auto mb-md-0">

                <!-- Navegación - Menú Jugar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                        <span class="fas fa-chess-pawn"></span>
                        <span>Jugar</span>
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'lobby' %}">Unirse a una partida</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'creategame' %}">Crear una partida</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'computer' %}">Jugar contra el ordenador</a></li>
                    </ul>
                </li>

                <!-- Navegación - Menú Puzzles -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                        <span class="fas fa-puzzle-piece"></span>
                        <span>Puzzles</span>
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'lista' %}">Lista</a></li>
                        <li><a class="dropdown-item custom-dropdown-item" href="{% url 'random_puzzle' %}">Aleatorio</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Navegación - Cuenta y opciones -->
            <ul class="navbar-nav ml-auto mb-md-0">
                
                <!-- Navegación - Cuenta -->
                {% if user.is_authenticated %}
                
                    <li class="nav-item">
                        <span class="navbar-text">Hola {{ user.username }}!</span>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                            <span class="fas fa-user"></span>
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-right custom-dropdown-menu">
                            <li><a class="dropdown-item custom-dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                        </ul>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <span class="navbar-text">No has iniciado sesión &rarr;</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>

                {% endif %}

                <!-- Navegación - Menú Opciones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                        <span class="fas fa-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right custom-dropdown-menu">
                        <li><button class="dropdown-item custom-dropdown-item" data-toggle="modal" data-target="#personalizacion"><span class="fas fa-pencil-alt"></span> Personalización</button></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
</nav>
   