/* 
    CSS PARA LOS ESTILOS PERSONALIZADOS
*/

/* Animación de los dropdowns */
.dropdown-toggle::after {
transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.dropdown-menu {
    margin-top: 0;
}

/* Animación de parpadeo */
.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}
