{% extends "layout.html" %}

{% block  title %} Aerochess - Puzzles {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img pt-6 vh-100">
        <div class="container puzzle-list">

            <!-- Título -->
            <div>
                <h2 class="text-left">Lista de puzzles</h2>
                <hr>
            </div>

            <!-- Lista de puzzles con mate en 2 -->
            <div class="accordion pb-3" id="m8n2card">
                <div class="card">

                    <!-- Cabecera -->
                    <button class="puzzle-list-header" data-toggle="collapse" data-target="#m8n2list">Mate en 2</button>

                    <!-- Lista -->
                    <ul class="puzzle-list-body collapse" id="m8n2list" data-parent="#m8n2card"> 
                        {% for puzzle in m8n2list %} 
                            <li class="puzzle-list-item" style="transform: rotate(0);"><a class="stretched-link" href="{{ puzzle.link }}"></a>{{ puzzle.citation }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <!-- Lista de puzzles con mate en 3 -->
            <div class="accordion pb-3" id="m8n3accordion">
                <div class="card">

                    <!-- Cabecera -->
                    <button class="puzzle-list-header" data-toggle="collapse" data-target="#m8n3list">Mate en 3</button>

                    <!-- Lista -->
                    <ul class="puzzle-list-body collapse" id="m8n3list" data-parent="#m8n3accordion"> 
                        {% for puzzle in m8n3list %} 
                            <li class="puzzle-list-item" style="transform: rotate(0);"><a class="stretched-link" href="{{ puzzle.link }}"></a>{{ puzzle.citation }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <!-- Lista de puzzles con mate en 4 -->
            <div class="accordion pb-3" id="m8n4accordion">
                <div class="card">

                    <!-- Cabecera -->
                    <button class="puzzle-list-header" data-toggle="collapse" data-target="#m8n4list">Mate en 4</button>

                    <!-- Lista -->
                    <ul class="puzzle-list-body collapse" id="m8n4list" data-parent="#m8n4accordion"> 
                        {% for puzzle in m8n4list %} 
                            <li class="puzzle-list-item" style="transform: rotate(0);"><a class="stretched-link" href="{{ puzzle.link }}"></a>{{ puzzle.citation }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            
        </div>
    </main>

{% endblock %}
