{% extends "layout.html" %}

{% block  title %} Aerochess - Puzzles {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    <!-- {% load static %} -->

    <!-- CSS de Chessboard para el tablero  -->
    <!-- <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}"> -->

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <!-- <script src="{% static 'js/chessboard-1.0.0.js' %}"></script> -->

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <!-- <script src="{% static 'js/chess.js' %}"></script> -->

    <!-- Script -->
    

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <h1>Lista 2</h1>

{% endblock %}