{% extends "layout.html" %}

{% block  title %} Aerochess - Puzzles {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- CSS de Chessboard para el tablero  -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para permitire la personalización del tablero -->
    <script src="{% static 'js/customization.js' %}" async></script>

    <!-- Script propio para el funcionamiento de la página -->
    <script src="{% static 'js/puzzle.js' %}" defer></script>

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}

    <!-- Contenido -->
    <main class="bg-img pt-6 vh-100">
        <div class="container">

            <!-- Interfaz de juego -->
            <div class="game-ui">

                <!-- Partida -->
                <div class="game-board">

                    <!-- Oponente -->
                    <h4 class="text-center">{{ puzzle.citation }}</h4>

                    <!-- Tablero -->
                    <hr class="mt-1 mb-2">
                    <div class="chessboard" id="puzzleBoard"></div>
                
                </div>
    
                <!-- Información de la partida -->
                <div class="game-info">
                    
                    <!-- Cabecera -->
                    <div class="game-info-header">
                        {% if puzzle.category == 1 %}
                            Mate en 2 movimientos
                        {% elif puzzle.category == 2 %}
                            Mate en 3 movimientos
                        {% elif puzzle.category == 3 %}
                            Mate en 4 movimientos
                        {% endif %} 
                    </div>

                    <!-- Status -->
                    <div class="game-info-status" id="status"></div>

                    <!-- PGN -->
                    <div class="game-info-pgn" id="pgn"></div>

                    <!-- Botones -->
                    <div class="game-info-options">
                        <div class="align-self-end w-100">

                            <!-- Controles -->
                            <div class="btn-group w-100">
                                <button class="btn game-btn" id="showSolution">Mostrar solución</button>
                            </div>
                            <div class="btn-group w-100 mt-2">
                                <button class="btn game-btn" id="previous_puzzle">Anterior</button>
                                <button class="btn game-btn" id="random_puzzle">Aleatorio</button>
                                <button class="btn game-btn" id="next_puzzle">Siguiente</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>                

{% endblock %}

{% block scripts %}

    <script>

        var puzzle_fen = "{{ puzzle.fen }}"
        var puzzle_pgn = "{{ puzzle.solution }}"
        var puzzle_pk = "{{ puzzle.pk }}"

    </script>

{% endblock %}