{% extends "layout.html" %}

{% block title %} Aerochess -  Crear partida online {% endblock %}

{% block body %}

    <main>

        <div class="container">

            <h2 class="text-center">Crear partida online</h2>
            <hr>

            <form class="form-create" method="post">

                <!-- Esto proporciona protección contra Cross Site Request Forgeries -->
                {% csrf_token %}

                <div class="form-group">
                    <label class="form-label" for="opponent">Oponente (si se deja en blanco será una partida pública que aparecerá en el lobby):</label>
                    <input class="form-control" type="text" name="opponent" id="opponent" placeholder="Oponente" autofocus>
                </div>
                <!-- AÑADO CAJA DE CONFIGURACIÓN PARA EL MODO CREAR PARTIDA -->
                <div class="color-box">                                            
                    <label for="owner_side">Selecciona con qué piezas deseas jugar:</label>
                    <div class="selection-box">
                        <button type="button" value="white" class="btn btn-dark"><i class="fas fa-chess-queen fa-3x"></i></button>
                        <button type="button" value="black" class="btn btn-dark"><i class="fas fa-chess-knight fa-3x"></i></button>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear partida</button>    
                </div>
                
            </form>
S
        </div>

    </main>

{% endblock %}