{% extends "layout.html" %}

{% block  title %} Aerochess - Partida multijugador {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para el funcionamiento de la página -->
    <script src="{% static 'js/multiplayer.js' %}" async></script>

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}
    
    <!-- Contenido -->
    <main class="bg-img pt-6 vh-100">
        <div class="container">

            <!-- Interfaz de juego -->
            <div class="game-ui">

                <!-- Partida -->
                <div class="game-wrapper">

                    <!-- Oponente -->
                    <div class="text-center" id="opponent_name">
                        {% if user.username == owner %}
                            {% if opponent == None %}
                                <h4>Esperando oponente...</h5>
                            {% else %}
                                <h4>{{ opponent }}</h5>
                            {% endif %}
                        {% else %}
                            <h4>{{ owner }}</h5>
                        {% endif %}
                    </div>
                    <hr class="mt-1 mb-2">

                    <!-- Tablero -->
                    <div class="game-board-wrapper">
                        <div class="game-board" id="multiplayerBoard" style="touch-action: none"></div>
                    </div>

                    <!-- Usuario -->
                    <hr class="mt-2 mb-1">
                    <h4 class="text-center">{{ user.username }}</h4>
                
                </div>
    
                <!-- Información de la partida -->
                <div class="game-info">
                    
                    <!-- Cabecera -->
                    <div class="game-info-header">Partida multijudador</div>

                    <!-- Status -->
                    <div class="game-info-status" id="status"></div>

                    <!-- PGN -->
                    <div class="game-info-pgn-wrapper">
                        <div class="game-info-pgn" id="pgn"></div>
                        <div class="game-info-pgn-helper"></div>
                    </div>

                    <!-- Botones -->
                    <div class="game-info-options">
                        <div class="align-self-end w-100">

                            <!-- Opciones -->
                            <div class="btn-group w-100" id="multiplayer-options">
                                <button class="btn game-btn" id="drawOffer" title="Ofrecer tablas">Ofrecer tablas</button>
                                <button class="btn game-btn" id="resign" title="Abandonar partida">Abandonar</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>

{% endblock %}

{% block scripts %}

    <script>

        var private = "{{ private }}"

    </script>

{% endblock %}