{% extends "layout.html" %}

{% block title %} Aerochess - Lobby {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <main>

        <!-- Bloque de partidas públicas disponibles -->
        <div class="container mt-5">

            <!-- Título -->
            <div>
                <h2 class="text-left">Sala de espera</h2>
                <hr>
            </div>

            {% if public %}

                <table class="table table-hover" id="public">

                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Oponente</th>
                            <th scope="col">Juegas con</th>
                            <th scope="col">Modo</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for room in public %}
                            <tr style="transform: rotate(0);"> 
                                <th scope="row"><a class="stretched-link" href="{{ room.link }}"></a>1</th>
                                <td>{{ room.owner.username }}</td>
                                <td>{{ room.side }}</td>
                                <td>Normal</td>
                            </tr>
                        {% endfor %}

                    </tbody>

                </table>

            {% else %}

                <p>Parece que no hay ninguna partida pública disponible.</p>

            {% endif %}
                
        </div>

        <!-- Bloque de partidas en juego -->
        <div class="container mt-5">

            <!-- Título -->
            <div class="text-left">
                <h2>Partidas en juego</h2>
                <hr>
            </div>

            {% if ongoing %}

                <table class="table table-hover" id="ongoing">

                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Creador</th>
                            <th scope="col">Oponente</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for room in ongoing %}
                            <tr style="transform: rotate(0);"> 
                                <th scope="row"><a class="stretched-link" href="{{ room.link }}"></a>1</th>
                                <td>{{ room.owner.username }}</td>
                                <td>{{ room.adversary }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>

                </table>

            {% else %}

                <p>Parece que no hay ninguna partida en juego ahora mismo.</p>

            {% endif %}
                
        </div>

    </main>

{% endblock %}

{% block scripts %}

    <script>

        // Recarga la lista de partidas públicas y en juego cada segundo
        setInterval(function() {
            $("#public").load(location.href + " #public")
            $("#ongoing").load(location.href + " #ongoing")   
        }, 1000)

    </script>

{% endblock %}
