{% extends "layout.html" %}

{% block title %} Aerochess - Lobby {% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Contenido -->
    <main class="bg-img pt-6 vh-100">
        
        <!-- Bloque de partidas públicas esperando oponente -->
        <div class="container lobby">

            <!-- Título -->
            <div>
                <h2 class="text-left">Sala de espera</h2>
                <hr>
            </div>

            <!-- Lista de partidas -->
            {% if public %}

                <table class="table table-hover game-list" id="public">

                    <thead class="game-list-header">
                        <tr>
                            <th scope="col">Oponente</th>
                            <th scope="col">Juegas con</th>
                            <th scope="col">Modo</th>
                        </tr>
                    </thead>

                    <tbody class="game-list-body">
                        {% for room in public %}
                            <tr style="transform: rotate(0);"> 
                                <th scope="row"><a class="stretched-link" href="{{ room.link }}"></a>{{ room.owner.username }}</th>
                                <td>{{ room.side }}</td>
                                <td>Normal</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            {% else %}

                <p>Parece que no hay ninguna partida pública disponible.</p>

            {% endif %}

        </div>

        <!-- Bloque de partidas públicas en juego -->
        <div class="container lobby">

            <!-- Título -->
            <div class="text-left mt-5">
                <h2>Partidas en juego</h2>
                <hr>
            </div>

            <!-- Lista de partidas -->
            {% if ongoing %}

                <table class="table table-hover game-list" id="ongoing">

                    <thead class="game-list-header">
                        <tr>
                            <th scope="col">Creador</th>
                            <th scope="col">Oponente</th>
                        </tr>
                    </thead>

                    <tbody class="game-list-body">
                        {% for room in ongoing %}
                            <tr style="transform: rotate(0);"> 
                                <th scope="row"><a class="stretched-link" href="{{ room.link }}"></a>{{ room.owner.username }}</th>
                                <td>{{ room.adversary }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
                
            {% else %}

                <p>Parece que no hay ninguna partida en juego ahora mismo.</p>

            {% endif %}
                
        </div>

    </main>

{% endblock %}

{% block scripts %}

    <script>

        // Recarga la lista de partidas públicas y en juego cada segundo
        setInterval(function() {
            $("#public").load(location.href + " #public")
            $("#ongoing").load(location.href + " #ongoing")   
        }, 1000)

    </script>

{% endblock %}
