{% extends "layout.html" %}

{% block  title %} Aerochess - Modo espectador {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- CSS de Chessboard para el tablero  -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para permitire la personalización del tablero -->
    <script src="{% static 'js/customization.js' %}" async></script>

    <!-- Script propio para el funcionamiento de la página -->
    <script src="{% static 'js/spectate.js' %}" async></script>

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <!-- Modales -->
    {% include "includes/modals.html" %}
    
    <main>

        <div class="container">

            <div class="row">

                <div class="col-md-7">

                    <!-- Oponente -->
                    <div id="opponent_name">
                        {% if user.username == owner %}
                            {% if opponent == None %}
                                <h5>Esperando oponente...</h5>
                            {% else %}
                                <h5>{{ opponent }}</h5>
                            {% endif %}
                        {% else %}
                            <h5>{{ owner }}</h5>
                        {% endif %}
                    </div>

                    <!-- Tablero -->
                    <hr class="mt-1 mb-2">
                    <div id="spectatorBoard" style="width: 100%;"></div>
                    <hr class="mt-2 mb-1">

                    <!-- Usuario -->
                    <h5>{{ user.username }}</h5>

                </div>
    
                <div class="col-md-5">
    
                    <div class="card" style="height: 100%; width: 100%;">
    
                        <div class="card-header">
                            Espectando partida multijugador
                        </div>
    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="status"></li>
                            <li class="list-group-item" style="height: 100%;">
                                <strong>PGN:</strong><div id="pgn"></div>
                            </li>
                        </ul>

                        <div class="card-body d-flex">

                            <div class="align-self-end" style="width: 100%;">

                                

                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}