{% extends "layout.html" %}

{% block title %} AeroChess - Página principal {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- CSS de Chessboard para el tablero  -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para el funcionamiento de la página -->
    <!-- <script src="{% static 'js/index.js' %}" defer></script> -->

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <main>

        <!-- Bloque de información -->
        <div class="jumbotron">
            <div class="colocacion-inicial">                    <!-- CLASE PARA LA COLOCACIÓN INICIAL -->
                <div class="container text-center">
                    <h1 style="color:white">Bienvenido a AeroChess</h1>
                    <p class="lead" style="color:white">Ajedrez de excelencia internacional</p>
                </div>
            </div>
        </div>

        <!-- Bloque de juego -->
        <div class="grupo-botones" role="group" aria-label="Modo de juego">
                <a href= "{% url 'computer' %}">
                    <button type="button" class="btn btn-primary">Juego contra el ordenador <i class="fas fa-chess-rook"></i></button>
                </a>
                <a href= "{% url 'lista' %}">
                    <button type="button" class="btn btn-primary">Puzzles <i class="fas fa-chess-board"></i></button>
                </a>
                <a href= "{% url 'lobby' %}">
                    <button type="button" class="btn btn-primary">Modo Espectador <i class="far fa-eye"></i></button>
                </a>
        </div>

             <!-- Pie de página -->
            {% include "includes/footer.html" %}

    </main>


{% endblock %}

<div>
    <!-- Pie de página -->
    {% include "includes/footer.html" %}
</div>

CAMBIAR!