{% extends "layout.html" %}

{% block title %} AeroChess - Página principal {% endblock %}

{% block cdn %}

    <!-- Esto es para cargar un tag de Django -->
    {% load static %}

    <!-- CSS de Chessboard para el tablero  -->
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}">

    <!-- Script de Chessboard para el funcionamiento del tablero -->
    <script src="{% static 'js/chessboard-1.0.0.js' %}"></script>

    <!-- Script de Chess para el funcionamiento de la interfaz -->
    <script src="{% static 'js/chess.js' %}"></script>

    <!-- Script propio para el funcionamiento de la página -->
    <!-- <script src="{% static 'js/index.js' %}" defer></script> -->

{% endblock %}

{% block body %}

    <!-- Barra de navegación -->
    {% include "includes/navbar.html" %}

    <main class="index-main">

        <!-- Cabecera -->
        <header class="index-header">
            <div class="container text-center">
                <h1 style="color:white">Bienvenido a AeroChess</h1>
                <p class="lead" style="color:white">Ajedrez de excelencia internacional</p>
            </div>
        </header>

        <!-- Bloque de botones -->
        <div class="container">
            
            <div class="row">

                <div class="col-12">

                    <a href="{% url 'lobby' %}" type="button" class="btn btn-index btn-lg btn-block">Lobby</a>

                </div>

            </div>

            <div class="row mt-3">

                <div class="col">

                    <a href="{% url 'creategame' %}" type="button" class="btn btn-index btn-lg btn-block">Crear partida</a>

                </div>

                <div class="col">

                    <a href="{% url 'computer' %}" type="button" class="btn btn-index btn-lg btn-block">Jugar contra el ordenador</a>

                </div> 

            </div>

            <div class="row mt-3">

                <div class="col-6">

                    <a href="{% url 'random_puzzle' %}" type="button" class="btn btn-index btn-lg btn-block">Puzzle aleatorio</a>

                </div>

                <div class="col-6">

                    <a href="{% url 'lista' %}" type="button" class="btn btn-index btn-lg btn-block">Lista de puzzles</a>

                </div> 

            </div>

        </div>

    </main>

    <!-- Pie de página -->
    {% include "includes/footer.html" %}

{% endblock %}